node_modules/
.vscode/
.env
__pycache__/
*.pyc
*.sqlite3
*.log
frontend/dist/
backend/.venv/

# Ignore Alembic bytecode caches and logs
backend/alembic/__pycache__/
backend/alembic/versions/__pycache__/
backend/alembic/*.log

